* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.app {
  padding: 20px;
  background-color: #f8f8f8;
}

h2 {
  text-align: center;
  margin: 0 0 30px 0;
}

table {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 4px;
}

table th {
  text-align: right;
  font-size: 13px;
  padding: 10px 20px;
  color: #999;
  border-bottom: 3px solid #ccc;
}

table td {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  text-align: right;
}

table tr:last-child td {
  border-bottom: 0;
}

.action-bar {
  display: flex;
  margin: 20px 0;
}

.filters {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  justify-content: flex-start;
  flex: 4;
}

.filter-item {
  margin: 0 20px;
}

.filter-item label {
  font-size: 16px;
}
.filter-item select {
  margin: 0 10px;
  font-size: 16px;
  width: 100px;
  outline: 0;
}

.action-buttons {
  flex: 1;
  display: flex;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.action-buttons .btn {
  flex: 1;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 4px;
}

.bill-form {
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  justify-content: space-between;
}

.bill-form .row {
  flex: 1;
  justify-content: center;
}

.bill-form .form-item {
  padding: 10px 20px;
  display: flex;
  flex: 1;
  align-items: baseline;
  height: 50px;
}

.bill-form label {
  font-size: 16px;
  width: 100px;
  text-align: right;
}
.bill-form select {
  flex: 1;
  margin: 0 10px;
  font-size: 16px;
  width: 100px;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}

.bill-form input {
  flex: 1;
  margin: 0 10px;
  font-size: 16px;
  width: 100px;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}
.buttons {
  justify-content: flex-end;
}
.buttons .btn {
  background-color: skyblue;
  width: 120px;
  padding: 10px;
}

.statistics {
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.statistics .row {
  border-top: 1px solid #ccc;
  display: flex;
}

.statistics .row > div {
  flex: 1;
}

.itemized h5 {
  margin-bottom: 10px;
  font-size: 16px;
}
.itemized .items {
  display: flex;
  flex-wrap: wrap;
}
.itemized .item {
  width: 200px;
}
